* {
	margin: 0;
	padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(204, 207, 224);
    margin: auto;
    width: 1000px;
    border: 3px solid blue;
}
h1 { 
	color: rgb(255, 255, 255);
	margin-top: 0;
}
h2 {
	font-size: 120%;
	padding: .25em 0 .25em 25px;
}
h3 { 
	color: rgb(0, 0, 0);
	margin-top: 0;
}
div.hide {
	display: none;
}
ul {
	padding-left: 45px;
}
li {
	padding-bottom: .4em;
}
p, a {
	padding-bottom: .4em;
	padding-left: 25px;
}
a, a:focus, a:hover {
	color: rgb(0, 0, 0);
}

main {
    padding: 1em 2em;
}
div {
	margin-bottom: 0.5em;
}
label {
	float: left;
    width: 16em;
    text-align: right;
}
input {
    margin-left: 1em;
}
#calculate {
	margin-bottom: 1em;
}

.img-me {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    padding: 5px;
    width: 110px;
    object-fit: fakeimg; 

}
.img-punk {

    width: 400px;
}
